@import './vendors/modern-normalize';

@import './utils/variables';

@import './base/container';
@import './base/commons';

@import './components/button';
@import './components/logo';
@import './components/menu';
@import './components/mobile-menu';
@import './components/social-icons';
@import './components/contacts';
@import './components/modal';

@import './layout/hero';
@import './layout/feature';
@import './layout/skills';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio';
@import './layout/footer';
