/* Особенности */
.feature__list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  margin-top: -30px;
  margin-left: -30px;
}
.feature-item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin-top: 30px;
  margin-left: 30px;

  --grid__item: 1;

  @media screen and (min-width: 768px) {
    --grid__item: 2;
  }

  @media screen and (min-width: 1200px) {
    --grid__item: 4;
  }
}
.feature-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.feature-item__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin: 0;
}
.feature-item__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.feature-item__icon {
  fill: var(--title-text-color);
  width: 70px;
  height: 70px;
}
