/* Подвал */
.footer {
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__address {
  margin-top: 20px;
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--button-letters-active);
}
.footer__contact {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contact-color);
}
.footer__contact:first-child {
  margin-bottom: 9px;
}
.footer-social-icons__title,
.footer-subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-letters-active);
  margin-bottom: 20px;
}
.footer__container {
  display: flex;
  flex-basis: calc((50%-45px) / 2);
  justify-content: space-between;
}
.footer__box {
  display: flex;
}
.footer-social-icons {
  margin-top: 12px;
  margin-left: 70px;
}
.footer-subscribe {
  margin-top: 12px;
}
.footer-subscribe__mail {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}
.footer-subscribe__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-subscribe__button {
  width: 200px;
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
