/* Кнопки */
.button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
.portfolio__navigation-button {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--button-sleep);
  color: var(--button-letters);
  padding: 6px 22px;
  min-width: 73px;
  margin-right: 8px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--button-active);
    color: var(--button-letters-active);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }
}
.hero__button {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--button-active);
  color: var(--button-letters-active);
  padding: 10px 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--button-active-hero);
    color: var(--button-letters-active);
  }
}
