/*Социальные сети*/
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--button-letters-active);
  border-radius: 50%;
  fill: var(--button-letters-active);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--button-letters-active);
  }

  &:hover .social-icons__icon,
  &:focus .social-icons__icon {
    fill: var(--button-letters-active);
  }
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.footer-social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--button-letters-active);
}
