:root {
  /* Основной цвет текста */
  --primary-text-color: #757575;
  /* Цвет заголовка */
  --title-text-color: #212121;
  /* Цвет акцента */
  --accent-color: #2196f3;
  /* Цвет фона */
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #c4c4c4;
  /* Цвет логотипа */
  --logo-color: #000000;
  --hero-color: #ffffff;
  /* Цвета для кнопок */
  --button-sleep: #f5f4fa;
  --button-active: #2196f3;
  --button-active-hero: #188ce8;
  --button-letters: #212121;
  --button-letters-active: #ffffff;
  --icon-color: #afb1b8;
  /* Цвета для подвала */
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-bg: #2f303a;
}
